service spril-daemon /system/bin/sprdrild -l /system/lib/libsprd-ril.so -n 0
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell readproc wakelock system

service spril-daemon1 /system/bin/sprdrild -l /system/lib/libsprd-ril.so -n 1
    class core
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell readproc wakelock system