service spril-daemon /vendor/bin/hw/rild
    class core
    disabled
    user root
    group radio cache inet misc audio log readproc wakelock sdcard_rw shell system
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW